@font-face {
  font-family: "MiracleWorldPersonalUse";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/MiracleWorldPersonalUse/MiracleWorldPersonalUse.eot");
  src: url("../fonts/MiracleWorldPersonalUse/MiracleWorldPersonalUse.eot?#iefix") format("embedded-opentype"), url("../fonts/MiracleWorldPersonalUse/MiracleWorldPersonalUse.woff") format("woff"), url("../fonts/MiracleWorldPersonalUse/MiracleWorldPersonalUse.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Light.eot");
  src: url("../fonts/Circe/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Light.woff") format("woff"), url("../fonts/Circe/Circe-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Regular.eot");
  src: url("../fonts/Circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Regular.woff") format("woff"), url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: url("../fonts/Circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Circe/Circe-ExtraBold.eot");
  src: url("../fonts/Circe/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe/Circe-ExtraBold.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 30px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Circe", sans-serif;
  font-weight: normal;
  background: #0F1327 url("../img/bg2.png") no-repeat center top;
  background-size: cover;
  color: #fff;
}

html, body {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Circe", sans-serif;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 54px;
  background: transparent;
  color: #000;
  font-size: 15px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #595959;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #595959;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #595959;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #595959;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #595959;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Circe", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 45px;
  font-size: 22px;
  font-weight: 800;
  line-height: 8.57;
  letter-spacing: 0.22px;
  height: 76px;
  border-radius: 50px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-transform: uppercase;
}

.btn-accent {
  color: #13172d;
  background: -webkit-gradient(linear, left top, right top, from(rgb(189, 119, 27)), color-stop(50%, rgb(245, 236, 227)), to(rgb(235, 199, 142)));
  background: linear-gradient(to right, rgb(189, 119, 27) 0%, rgb(245, 236, 227) 50%, rgb(235, 199, 142) 100%);
  -webkit-box-shadow: 0 0 56px #b59562;
          box-shadow: 0 0 56px #b59562;
}
.btn-accent:hover {
  color: #13172d;
  background: -webkit-gradient(linear, right top, left top, from(rgb(189, 119, 27)), color-stop(50%, rgb(245, 236, 227)), to(rgb(235, 199, 142)));
  background: linear-gradient(to left, rgb(189, 119, 27) 0%, rgb(245, 236, 227) 50%, rgb(235, 199, 142) 100%);
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

h1 {
  font-family: "MiracleWorldPersonalUse", sans-serif;
  font-size: 253.5px;
  margin: 0 0 40px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgb(233, 190, 141)), color-stop(25%, rgb(189, 116, 26)), color-stop(50%, rgb(248, 240, 230)), color-stop(75%, rgb(237, 203, 139)), to(rgb(247, 229, 194)));
  background: linear-gradient(to right, rgb(233, 190, 141) 0%, rgb(189, 116, 26) 25%, rgb(248, 240, 230) 50%, rgb(237, 203, 139) 75%, rgb(247, 229, 194) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient {
  background: -webkit-gradient(linear, left top, right top, from(rgb(233, 190, 141)), color-stop(25%, rgb(189, 116, 26)), color-stop(50%, rgb(248, 240, 230)), color-stop(75%, rgb(237, 203, 139)), to(rgb(247, 229, 194)));
  background: linear-gradient(to right, rgb(233, 190, 141) 0%, rgb(189, 116, 26) 25%, rgb(248, 240, 230) 50%, rgb(237, 203, 139) 75%, rgb(247, 229, 194) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 60px;
  letter-spacing: 1.5px;
  line-height: 1;
  font-family: "MiracleWorldPersonalUse", sans-serif;
  margin: 0 auto 95px;
}

.container {
  padding: 0 15px;
  max-width: 1350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-dots {
  padding: 0;
  list-style: none;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slick-dots li {
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  bottom: 0;
  margin: 0 20px 0 0;
  width: 30px;
  height: 30px;
  background: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.slick-dots li:last-child {
  margin: 0;
}

.slick-dots li.slick-active {
  background: #13172d;
}

.slick-dots li button {
  display: none;
}

.slick-arrow {
  font-size: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: transparent;
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slick-arrow.slick-prev {
  left: 17px;
  border-right: 0;
  border-top: 0;
  border-bottom-left-radius: 5px;
}

.slick-arrow.slick-next {
  right: 17px;
  border-left: 0;
  border-bottom: 0;
  border-top-right-radius: 5px;
}

.slick-arrow.slick-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}